*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
   justify-content: center;
   padding-bottom: 25px;
}

body{
    min-width: 1440px;
}

/* #region_app */
.app_header{
    background-color: orange;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.app_main{
    padding-top: 50px;
}


.app_footer{
    
    background-color: black;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* end_region_app */

/* #region_utility */
.logo{
    height: 20px;
    width: 90px;
    
}


.icon_header{
    color: white;
}

i{
    padding-right: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 7px;
}



.w25{
    width: calc((70% / 12) * 3 );
    margin: 5px;
    

}

.red_cash{
    color: red;
    
}

.red_discount{
    background-color: red;
    color: white;
    padding: 2px 2px;
}

.green_discount{
    background-color: green;
    color: white;
    padding: 2px 2px;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 100px;
}


.heart{
    position: absolute;
    background-color: white;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 0;
    padding: 5px;
    text-align: center;
}

.center_bar{
    text-decoration: line-through;
}

/* end_region_utility */

/* section_main */
.levis , .levis2 , .guess , .sugar , .maya , .esprit{
    position: relative;
}
/* end_section_main */
.icon{
    margin-top: 5px;

}

/* #region_hover */
.block_hover{
    width: 332px;
    height: 481px;
    position: absolute;
    top: 0;
}

.heart:hover {
    color: red;
}

.levis_hover:hover{
    background-image: url(../img/1b.webp);
    background-size: cover;
}

.guess_hover:hover{
    background-image: url(../img/2b.webp);
    background-size: cover;
}

.sugar_hover:hover{
    background-image: url(../img/3b.webp);
    background-size: cover;
}

.levis2_hover:hover{
    background-image: url(../img/4b.webp);
    background-size: cover;
}

.maya_hover:hover{
    background-image: url(../img/5b.webp);
    background-size: cover;
}


.esprit_hover:hover{
    background-image: url(../img/6b.webp);
    background-size: cover;
}
/* end_region_hover */